<%- include ('./partials/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/adpages.css">
<div class="mess">
    <% m.reverse().forEach(function(el){%>
        <div class="messcard">
            <p>Name: <%=el.name%></p>
            <p>Email: <%=el.email%></p>
            <p>Message: <%=el.mesg%></p>
            <p><%=el.created.toLocaleString()%></p>
        </div>
    <%})%>
</div>
<%- include ('./partials/footer.ejs') %>
