<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/views.css">
<div class="profile">
    <h1><i>Profile</i></h1>
    <img src="\<%=u.userimage%>" alt="" width="100">
    <table>
        <tr>
            <td>Name:</td>
            <td><%=u.username%></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><%=u.email%></td>
        </tr>
        <tr>
            <td>Instagram Id:</td>
            <td><%=u.insta%></td>
        </tr>
        <tr>
            <td>Bio:</td>
            <td><pre><%=u.bio%></pre></td>
        </tr>
        <tr>
            <td>Joined:</td>
            <td><%=u.created.toDateString()%></td>
        </tr>
    </table>
</div>
<%- include('partials/footer') %>